.headerArea {
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 5px;
    background-color: rgb(var(--area-bg));
    border: 1px solid rgba(var(--area-bg), 0.5);

    padding: 10px 20px;
    margin-bottom: 10px;
}

.headerTitleArea {
    height: 100%;
    display: flex;
    align-items: center;
}

.headerTitleArea>span {
    display: block;
    width: 1px;
    height: Calc(100% - 10px);
    background-color: rgba(var(--color), 0.3);
    margin: 0 20px;
}

.headerTitle {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 2%;
    text-align: justify;
    vertical-align: bottom;
    color: rgb(var(--color));
}

.headerParagraph {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 2%;
    text-align: justify;
    vertical-align: bottom;
    color: rgb(var(--color));
}

.headerBtns {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;

    position: relative;
    user-select: none;
}

.headerBtn {
    width: 40px;
    height: 40px;
    border: 1px solid rgba(var(--active-color), 0);
    border-radius: 10px;
    background-color: rgba(var(--active-color), 0);
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all 0.15s ease-in-out;
}

.headerBtn:hover {
    border: 1px solid rgba(var(--active-color), 0.8);
    background-color: rgba(var(--active-color), 0.3);
}

.userAvatar {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;

    transition: all 0.15s ease-in-out;
}

.userAvatar:hover {
    border: 2px solid rgba(var(--active-color), 0.8);
}

.userAvatar>img {
    width: 100%;
    height: 100%;
}

.additionalArea {
    position: absolute;

    top: Calc(100% + 10px);
    right: 0;
    /* width: 100%; */
    max-height: Calc(100vh - 150px);
    overflow-y: auto;
    background-color: rgb(var(--area-bg));
    border: 2px solid rgba(var(--color), 0.2);
    border-radius: 10px;
    padding: 10px;

    box-shadow: 0px 0px 10px 1px rgba(var(--color), 0.1);
    gap: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.notificationBlock {
    flex: 0 0 80px;
    width: 400px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgb(var(--color));
    border-radius: 5px;

    font-size: 12px;
    text-align: justify;
    vertical-align: bottom;
    color: rgb(var(--color));
}

.contentBlock {
    flex: 0 0 120px;
    width: 400px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgb(var(--color));
    border-radius: 5px;

    font-size: 12px;
    text-align: justify;
    vertical-align: bottom;
    color: rgb(var(--color));
}

.themeBlock {
    width: calc(100px + 5px);
    display: grid;
    grid-template-columns: repeat(2, 50px);
    gap: 5px;
}

.theme {
    height: 50px;
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 5px;
    font-size: 8px;
    text-align: justify;
    vertical-align: bottom;
    color: rgba(var(--color), 0);
    padding-bottom: 2px;
    transition: all 0.2s ease-in-out;
}

.theme:hover {
    font-size: 14px;
    color: rgba(var(--main-bg), 1);
    padding-bottom: 10px;
}

.theme.active:hover {
    font-size: 14px;
    color: rgba(var(--color), 1);
    padding-bottom: 10px;
}

.theme.active {
    border: 1px solid rgb(var(--color));
}

.language {
    width: 150px;
    height: 30px;
    font-size: 14px;
    text-align: justify;
    vertical-align: bottom;
    color: rgb(var(--color));
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}

.language:hover {
    background-color: rgba(var(--active-color), 0.3);
}

.language.active {
    background-color: rgba(var(--active-color), 0.8);
}

.profileBlock {
    width: 320px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: 20px;
}

.profileImgBlock {
    flex: 0 0 auto;
    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profileAvatar {
    width: 90px;
    height: 90px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    overflow: hidden;

    border: 2px solid rgba(var(--color), 0.4);
    padding: 3px;
}

.profileAvatar>img {
    width: 100%;
    height: 100%;
}

.userFullName,
.username,
.logOutBtn {
    font-size: 12px;
    text-align: justify;
    vertical-align: bottom;
    color: rgb(var(--color));
}

.userFullName {
    font-size: 18px;
    font-weight: bold;
}

.logOutBtn {
    width: 150px;
    height: 40px;

    letter-spacing: 3px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(var(--error-color), 0);
    color: rgb(var(--error-color));
    border: 1px solid rgb(var(--error-color));
    border-radius: 5px;

    margin-top: 20px;
    padding: 10px;

    cursor: pointer;

    transition: all 0.1s ease-in-out;
}

.logOutBtn:hover {
    background-color: rgba(var(--error-color), 0.2);
}