*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100vh;
    line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

html,
body,
#root {
    height: 100%;
}

.mainArea {
    width: 100%;
    min-height: 100vh;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

    background-color: rgb(var(--main-bg));
}

.headerArea {
    width: 100%;
    height: 60px;
    background-color: red;
    margin-bottom: 5px;
}

.section1 {
    flex: 0 0 700px;
    width: 100%;
    display: grid;
    grid-template-columns: 600px 1fr;
    grid-template-rows: 700px;
    gap: 5px;
}

.section1>* {
    min-width: 0;
    min-height: 0;
}

.section2 {
    flex: 0 0 500px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1000px 300px;
    grid-template-rows: 500px;
    gap: 5px;
}

.section2>* {
    min-width: 0;
    min-height: 0;
}

.filterBlock {
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    grid-template-columns: 1fr;
    gap: 5px;
}

.selectors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(var(--area-bg));
}

.totalBlock {
    background-color: red;
}

.mapBlock {
    background-color: red;
}

.graphBlock {
    background-color: red;
}

.tableBlock {
    background-color: red;
}

.statusBarChartBlock {
    background-color: red;
}